/* Estilos Formulario*/

.tarjeta {
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.59);
}
.btn-new{
    margin-top: 10px;
    margin-bottom: 10px;
}
.delete{
color: red;
}
.btn-eliminar {
    cursor: pointer;
}